@font-face {
	font-family: "icons";
	font-display: swap;
	src: url("../fonts/icons.woff") format("woff"), url("../fonts/icons.woff2#icons") format("woff2");
	font-weight: normal;
	font-style: normal;
	font-display: block;
}
%ic {
	font-family: "icons";
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

[class^="_icon-"],
[class*=" _icon-"] {
	&:before,
	&::after {
		@extend %ic;
		display: block;
	}
}

._icon-down:before {
	content: "\e90d";
}
._icon-arrow-down:before {
	content: "\e90c";
}
._icon-cloud:before {
	content: "\e900";
}
._icon-facebook:before {
	content: "\e901";
}
._icon-twitter:before {
	content: "\e902";
}
._icon-download:before {
	content: "\e903";
}
._icon-search:before {
	content: "\e904";
}
._icon-linked:before {
	content: "\e905";
}
._icon-apple:before {
	content: "\e906";
}
._icon-playmarket:before {
	content: "\e907";
}
._icon-csv:before {
	content: "\e908";
}
._icon-pdf:before {
	content: "\e909";
}
._icon-video:before {
	content: "\e90a";
}
._icon-windows:before {
	content: "\e90b";
}
