body::after {
    content: "";
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.8s ease 0s;
    pointer-events: none;
    z-index: 149;
}
.popup-show body::after {
    opacity: 1;
}
.popup {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    padding: rem(30) rem(10);
    transition: visibility 0.8s ease 0s;
    visibility: hidden;
    pointer-events: none;
    z-index: 150;
    &_show {
        visibility: visible;
        overflow: auto;
        pointer-events: auto;
        .popup__content {
            visibility: visible;
            transform: scale(1);
        }
    }

    &__wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        min-height: 100%;
        flex: 1 1 auto;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__content {
        visibility: hidden;
        transform: scale(0);
        transition: transform 0.3s ease 0s;
        background-color: $dark_02;
        width: 100%;
        max-width: rem(900);
        @include adaptiveValue("padding-top", 30, 20, 1110, 767.98, 1);
        @include adaptiveValue("padding-bottom", 30, 20, 1110, 767.98, 1);
        @include adaptiveValue("padding-left", 30, 20, 1110, 767.98, 1);
        @include adaptiveValue("padding-right", 30, 20, 1110, 767.98, 1);
        .lock & {
            visibility: visible;
        }
    }

    &__close {
        width: rem(30);
        height: rem(30);
        position: absolute;
        @include adaptiveValue("top", -50, -40, 1110, 767.98, 1);
        right: 0;
        cursor: pointer;
        z-index: 30;
        background: url("@img/icons/close.svg") center no-repeat;
        background-size: rem(25) rem(25);
        transition: opacity 0.3s ease 0s;
        @media (any-hover: hover) {
            &:hover {
                opacity: 0.6;
            }
        }
    }

    &__video {
        @extend %responsiveVideo;
    }
}
