.btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    line-height: math.div(17, 14);
    text-transform: uppercase;
    padding: rem(5) rem(10);
    color: $white;
    border-radius: rem(6);
    border: rem(1) solid $white;
    background-color: transparent;
    transition: color 0.3s ease 0s, background-color 0.3s ease 0s;
    @media (any-hover: hover) {
        &:hover {
            color: $primary_03;
            background-color: $white;
        }
    }
    @media (max-width: $mobile) {
        font-size: rem(18);
    }
}
