//<INPUT>
// Снипет (HTML): inp
input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.input {
    border-radius: 0 !important;
    width: 100%;
    display: block;
    padding: 0px 20px;
    border: 1px solid #eee;
    &:focus-visible {
        outline-offset: rem(-1);
        outline: white solid rem(1);
    }
    &._form-focus {
    }
    &._form-error {
        color: red;
    }
}
textarea.input {
    resize: none;
    padding: 0px 0px;
}

//========================================================================================================================================================

//<INPUT (inp+tab)>====================================================================================================
input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.input {
    border: 1px solid #333333;
    border-radius: 6px;
    width: 100%;
    display: block;
    padding: 0px 30px;
    transition: all 0.3s ease 0s;
    font-size: 16px;
    line-height: 19 / 16 * 100%;
    color: rgba(19, 39, 67, 0.5);
    @media (max-width: $md3+px) {
        font-size: 18px;
        padding: 0px 20px;
    }
    min-height: 60px;
    &._focus {
        color: rgba(19, 39, 67, 1);
        border: 1px solid $black;
    }
    &._error {
        border: 1px solid $lightRed;
    }
}
textarea.input {
    resize: none;
    padding: 0px 0px;
}
