//<INPUT (inp+tab)>====================================================================================================
input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.input {
    border: rem(1) solid $dark_02;
    border-radius: rem(6);
    width: 100%;
    display: block;
    padding: 0px rem(30);
    transition: color 0.3s ease 0s, border 0.3s ease 0s;
    font-size: rem(16);
    line-height: math.div(19, 16);
    color: rgba(19, 39, 67, 0.5);
    min-height: rem(60);
    &._form-focus {
        color: $secondary_01;
        border: rem(1) solid $black;
    }
    &._form-error {
        border: rem(1) solid $primary_02;
    }

    @media (max-width: $mobile) {
        font-size: rem(18);
        padding: 0px rem(20);
    }
}
