// Общий файл элементов форм
// Для подключения/отключения стилей конкретного єлемента формы смотри base/forms/forms.scss
@import "base/forms/forms";

// Стили попапов
@import "base/popup";

// Стили для полноэкранного блока
@import "base/fullscreen";

// Стили для отзывчивых картинок (IBG)
// Сниппет (HTML): ibg (div c картинкой и классами)
// Сниппет (HTML): ibga (a c картинкой и классами)
[class*="-ibg"] {
    position: relative;
    img {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        object-fit: cover;
    }
}
[class*="-ibg_contain"] {
    img {
        object-fit: contain;
    }
}

// Адаптивное видео
%responsiveVideo {
    position: relative;
    overflow: hidden;
    height: 0;
    padding-bottom: 56.25%;
    video,
    iframe,
    object,
    embed {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}
