.footer {
    @include adaptiv-value("padding-top", 85, 40, 1);
    background: #fafafa;
    @include adaptiv-value("padding-bottom", 85, 40, 1);
    &__container {
    }

    &__wrapper {
        display: flex;
        margin: 0px -15px;
        @include adaptiv-value("margin-bottom", 100, 20, 1);
        @media (max-width: $md3+px) {
            flex-wrap: wrap;
        }
        @media (max-width: $md4+px) {
            margin-right: 0;
            margin-left: 0;
            justify-content: center;
            text-align: center;
        }
    }

    &__column {
        flex: 0 1 25%;
        padding: 0px 15px;
        @include adaptiv-value("margin-bottom", 50, 40, 1);
        @media (max-width: $md3+px) {
            flex: 0 1 50%;
        }
        @media (max-width: $md4+px) {
            flex: 1 1 100%;
            padding: 0px;
        }
    }

    &__body {
    }

    &__label {
        font-weight: 700;
        font-size: 18px;
        line-height: 22 / 18 * 100%;
        color: #101010;
        @include adaptiv-value("margin-bottom", 35, 15, 1);
        @media (max-width: $md2+px) {
            font-size: 24px;
        }
        @media (max-width: $md3+px) {
            font-size: 28px;
        }
    }

    &__address {
        font-size: 12px;
        line-height: 150%;
        color: #101010;
        transition: all 0.3s ease 0s;
        @media (any-hover: hover) {
            &:hover {
                color: $lightRed;
            }
        }
        @media (max-width: $md1+px) {
            font-size: 14px;
        }
        @media (max-width: $md2+px) {
            font-size: 18px;
        }
        @media (max-width: $md3+px) {
            font-size: 24px;
        }
    }

    &__list {
        li {
            &:not(:last-child) {
                margin: 0px 0px 5px 0px;
            }
        }
    }

    &__link {
        text-transform: capitalize;
        font-size: 12px;
        line-height: 160%;
        color: #101010;
        transition: all 0.3s ease 0s;
        @media (any-hover: hover) {
            &:hover {
                color: $lightRed;
            }
        }
        @media (max-width: $md1+px) {
            font-size: 14px;
        }
        @media (max-width: $md2+px) {
            font-size: 18px;
        }
        @media (max-width: $md3+px) {
            font-size: 22px;
        }
    }

    &__item {
        display: flex;
        font-size: 12px;
        line-height: 150%;
        color: #101010;
        transition: all 0.3s ease 0s;
        margin: 0px 0px 10px 0px;
        @media (any-hover: hover) {
            &:hover {
                color: $lightRed;
            }
        }
        @media (max-width: $md1+px) {
            font-size: 14px;
        }
        @media (max-width: $md2+px) {
            font-size: 18px;
        }
        @media (max-width: $md3+px) {
            font-size: 22px;
        }
        @media (max-width: $md4+px) {
            justify-content: center;
        }
    }

    &__social {
        margin: 20px 0px 0px 0px;
        display: flex;
        align-items: center;
        @media (max-width: $md4+px) {
            justify-content: center;
        }
    }

    &__social-item {
        color: #101010;
        font-size: 14px;
        transition: all 0.3s ease 0s;
        &:not(:last-child) {
            @include adaptiv-value("margin-right", 12, 20, 1);
        }
        @media (max-width: $md2+px) {
            font-size: 18px;
        }
        @media (max-width: $md3+px) {
            font-size: 22px;
        }
        @media (any-hover: hover) {
            &:hover {
                color: $lightRed;
            }
        }
    }

    &__image {
        img {
            max-width: 100%;
        }
    }

    &__bottom {
    }

    &__copy {
        display: block;
        font-size: 12px;
        line-height: 14 / 12 * 100%;
        color: #101010;
        transition: all 0.3s ease 0s;
        @media (max-width: $md2+px) {
            font-size: 14px;
        }
        @media (max-width: $md3+px) {
            font-size: 18px;
        }
        @media (max-width: $md4+px) {
            text-align: center;
        }
        @media (any-hover: hover) {
            &:hover {
                color: $lightRed;
            }
        }
    }
}
