.footer {
    background-color: $light_01;
    @include adaptiveValue("padding-top", 85, 40, 1110, 767.98, 1);
    @include adaptiveValue("padding-bottom", 85, 40, 1110, 767.98, 1);
    &__container {
    }

    &__wrapper {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        @include adaptiveValue("row-gap", 50, 40, 1110, 767.98, 1);
        column-gap: rem(30);
        @include adaptiveValue("margin-bottom", 100, 30, 1110, 767.98, 1);
        @media (max-width: $mobile) {
            grid-template-columns: repeat(2, 1fr);
        }
        @media (max-width: $mobileSmall) {
            grid-template-columns: 1fr;
            justify-content: center;
            text-align: center;
        }
    }

    &__body {
    }

    &__label {
        font-weight: 700;
        font-size: rem(18);
        line-height: math.div(22, 18);
        color: $dark_01;
        @include adaptiveValue("margin-bottom", 35, 15, 1110, 767.98, 1);
        @media (max-width: $mobile) {
            font-size: rem(22);
        }
    }

    &__address {
        font-size: rem(12);
        line-height: 150%;
        color: $dark_01;
        transition: color 0.3s ease 0s;
        @media (any-hover: hover) {
            &:hover {
                color: $primary_02;
            }
        }
    }

    &__list {
        li {
            &:not(:last-child) {
                margin-bottom: rem(5);
            }
        }
    }

    &__link {
        text-transform: capitalize;
        font-size: rem(12);
        line-height: 160%;
        color: $dark_01;
        transition: color 0.3s ease 0s;
        @media (any-hover: hover) {
            &:hover {
                color: $primary_02;
            }
        }
    }

    &__item {
        display: flex;
        font-size: rem(12);
        line-height: 150%;
        color: $dark_01;
        transition: color 0.3s ease 0s;
        margin-bottom: rem(10);
        @media (any-hover: hover) {
            &:hover {
                color: $primary_02;
            }
        }
        @media (max-width: $mobileSmall) {
            justify-content: center;
        }
    }

    &__social {
        margin-top: rem(20);
        display: flex;
        align-items: center;
        @media (max-width: $mobileSmall) {
            justify-content: center;
        }
    }

    &__social-item {
        color: $dark_01;
        transition: color 0.3s ease 0s;
        &:not(:last-child) {
            @include adaptiveValue("margin-right", 12, 20, 1110, 767.98, 1);
        }
        @media (any-hover: hover) {
            &:hover {
                color: $primary_02;
            }
        }
        @media (max-width: $mobile) {
            font-size: rem(18);
        }
    }

    &__image {
        img {
            max-width: 100%;
        }
    }

    &__copy {
        display: block;
        font-size: rem(12);
        line-height: math.div(14, 12);
        color: $dark_01;
        transition: color 0.3s ease 0s;
        @media (max-width: $mobileSmall) {
            text-align: center;
        }
        @media (any-hover: hover) {
            &:hover {
                color: $primary_02;
            }
        }
    }

    &__address,
    &__link,
    &__item {
        @media (max-width: $mobile) {
            font-size: rem(16);
        }
    }
}
