.header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    transition: background-color 0.8s ease 0s;
    background-color: transparent;
    box-shadow: 0 0 rem(15) rgba(213, 32, 71, 0);
    z-index: 100;
    &._header-scroll {
        background-color: rgba(213, 32, 71, 0.9);
        box-shadow: 0 0 rem(15) rgba(213, 32, 71, 0.9);
    }
    &__container {
        transition: min-height 0.8s ease 0s;
        @include adaptiveValue("min-height", 120, 40, 1110, 767.98, 1);
        padding: rem(10) rem(15);
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
        ._header-scroll & {
            min-height: rem(40);
        }
    }

    &__logo-wrap {
        flex: 0 1 rem(216);
        position: relative;
        z-index: 10;
        @media (max-width: $tablet) {
            display: flex;
            justify-content: center;
            flex: 1 1 auto;
        }
        @media (max-width: $mobileSmall) {
            justify-content: flex-end;
        }
    }

    &__logo {
        display: inline-flex;
        align-items: center;
        gap: rem(7);
        color: $white;
        font-weight: 700;
        font-size: rem(18);
        line-height: math.div(22, 18);
        text-transform: uppercase;
        &::before {
            font-size: rem(29);
        }
    }

    &__menu {
    }

    &__more {
    }
}
.menu {
    &__icon {
    }

    &__body {
        @media (max-width: $tablet) {
            position: fixed;
            min-width: rem(290);
            height: 100%;
            overflow: auto;
            top: 0;
            left: -100%;
            background-color: $primary_01;
            transition: left 0.8s ease 0s;
            padding: rem(120) rem(15) rem(30) rem(15);
            @media (max-width: $mobile) {
                padding: rem(90) rem(15);
                &::before {
                    height: rem(60);
                }
            }
            &::before {
                content: "";
                position: fixed;
                min-width: rem(290);
                top: 0;
                @include adaptiveValue("min-height", 120, 40, 1110, 767.98, 1);
                left: -100%;
                transition: left 0.8s ease 0s;
                background-color: $primary_01;
                z-index: 2;
            }
            .menu-open & {
                left: 0;
                &::before {
                    left: 0;
                }
            }
        }
        @media (max-width: $mobile) {
            width: 100%;
            &::before {
                width: 100%;
            }
        }
    }

    &__list {
        @media (min-width: $tablet) {
            display: flex;
            align-items: center;
            gap: rem(20);
        }
        li {
            @media (max-width: $tablet) {
                margin-bottom: rem(20);
            }
        }
    }

    &__link {
        line-height: math.div(17, 14);
        text-transform: uppercase;
        color: $white;
        transition: color 0.3s ease 0s;
        @media (max-width: $tablet) {
            @include adaptiveValue("font-size", 18, 22, 991.98, 479.98, 1);
        }
        @media (any-hover: hover) {
            &:hover {
                color: $black;
            }
        }
    }
}

.more-header {
    display: flex;
    align-items: center;
    position: relative;
    z-index: 10;
    &__language {
        position: relative;
        align-items: center;
        display: flex;
        @media (min-width: $tablet) {
            margin-right: rem(20);
        }
        @media (max-width: $tablet) {
            margin-top: rem(20);
        }
        &._hover {
            .more-header__body {
                transform: translate(0px, 0px);
                opacity: 1;
                visibility: visible;
            }
            .more-header__icon {
                transform: rotate(-180deg);
            }
        }
    }

    &__item {
        display: flex;
        align-items: center;
        &_en {
        }

        &_ru {
        }
    }

    &__flag-ibg {
        width: rem(32);
        height: rem(32);
        margin-right: rem(10);
        overflow: hidden;
        border-radius: 50%;
        @media (max-width: $mobile) {
            width: rem(40);
            height: rem(40);
        }
        img {
            max-width: 100%;
        }
    }
    &__letters {
        line-height: math.div(17, 14);
        text-transform: uppercase;
        color: $white;
        margin-right: rem(2);
        @media (max-width: $mobile) {
            font-size: rem(18);
        }
    }

    &__icon {
        padding: rem(10);
        font-size: rem(8);
        color: $white;
        transition: transform 0.3s ease 0s;
        -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
        -webkit-tap-highlight-color: transparent;
        @media (max-width: $tablet) {
            font-size: rem(12);
            padding: rem(20);
        }
    }

    &__body {
        width: calc(100% + rem(10));
        padding: rem(10);
        background-color: $white;
        position: absolute;
        top: 120%;
        left: 0;
        border-radius: rem(6);
        transform: translate(0px, 10%);
        opacity: 0;
        visibility: hidden;
        transition: transform 0.3s ease 0s, opacity 0.3s ease 0s, visibility 0.3s ease 0s;
        max-width: rem(150);
        @media (min-width: $mobileSmall) {
            margin: 0px rem(-10);
        }
        .more-header__letters {
            color: $primary_03;
        }
        .more-header__item {
            &:not(:last-child) {
                margin-bottom: rem(10);
            }
        }
    }

    &__login {
        min-width: rem(100);
        min-height: rem(40);
        @media (max-width: $mobileSmall) {
            min-height: rem(60);
            min-width: rem(150);
            font-size: rem(22);
        }
    }
}

//========================================================================================================================================================

.icon-menu {
    display: none;
    @media (max-width: $tablet) {
        display: block;
        position: relative;
        width: rem(30);
        height: rem(18);
        cursor: pointer;
        z-index: 5;
        -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
        -webkit-tap-highlight-color: transparent;
        span,
        &::before,
        &::after {
            content: "";
            transition: all 0.3s ease 0s;
            left: 0;
            position: absolute;
            width: rem(30);
            height: rem(2);
            background-color: $white;
        }
        &::before {
            top: 0;
        }
        &::after {
            bottom: 0;
        }
        span {
            top: calc(50% - rem(1));
        }
        .menu-open & {
            span {
                width: 0;
            }
            &::before {
                top: calc(50% - rem(1));
                transform: rotate(-45deg);
            }
            &::after {
                bottom: calc(50% - rem(1));
                transform: rotate(45deg);
            }
        }
    }
    @media (min-width: $mobileSmall) {
        flex: 0 0 rem(100);
    }
}
