.main {
    position: relative;
    &__container {
        position: relative;
        padding-top: 30vh;
        padding-bottom: rem(40);
        z-index: 2;
        @media (min-width: $tablet) {
            @media (max-height: em(400)) {
                @media screen and (orientation: landscape) {
                    padding-top: rem(140);
                }
            }
        }
    }

    &__inner {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    &__title {
        font-weight: 700;
        @include adaptiveValue("font-size", 72, 36, 1110, 479.98, 1);
        line-height: math.div(86, 72);
        letter-spacing: 0.05em;
        text-transform: uppercase;
        color: $white;
        @include adaptiveValue("margin-bottom", 40, 20, 1110, 767.98, 1);
    }

    &__text {
        max-width: rem(540);
        font-weight: 600;
        @include adaptiveValue("font-size", 24, 20, 1110, 767.98, 1);
        line-height: 150%;
        color: $white;
        @include adaptiveValue("margin-bottom", 50, 30, 1110, 767.98, 1);
    }

    &__btn {
        min-width: rem(160);
        min-height: rem(50);
        color: $primary_03;
        font-weight: 600;
        background-color: $white;
        @media (any-hover: hover) {
            &:hover {
                color: $white;
                background-color: transparent;
            }
        }
    }

    &__image-ibg {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        &::after {
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background: linear-gradient(90deg, rgba(213, 32, 71, 0.8) 0%, rgba(238, 61, 27, 0.8) 100%);
        }
    }
}

//</ОСНОВНОЙ БЛОК>====================================================================================================

.about {
    &__container {
        gap: rem(40);
        display: flex;
        justify-content: space-between;
        @media (max-width: $mobile) {
            flex-wrap: wrap;
            justify-content: center;
        }
    }

    &__content {
        flex: 0 1 rem(445);
        @include adaptiveValue("margin-top", 45, 0, 1110, 767.98, 1);
        @media (max-width: $mobile) {
            flex: 1 1 100%;
        }
    }

    &__title {
        @extend %text_01;
        &:not(:last-child) {
            @include adaptiveValue("margin-bottom", 45, 20, 1110, 767.98, 1);
        }
    }

    &__text {
        line-height: 140%;
        text-align: justify;
        &:not(:last-child) {
            @include adaptiveValue("margin-bottom", 20, 15, 1110, 767.98, 1);
        }
        @media (max-width: $mobile) {
            font-size: rem(18);
        }
    }

    &__more {
        line-height: 140%;
        text-align: justify;
        color: $primary_03;
        transition: color 0.3s ease 0s;
        @media (any-hover: hover) {
            &:hover {
                color: $black;
            }
        }
        @media (max-width: $mobile) {
            font-size: rem(18);
        }
    }

    &__video {
        flex: 0 1 rem(480);
        display: block;
        position: relative;
        @media (max-width: $mobile) {
            flex: 1 1 100%;
        }
    }

    &__thumb-ibg {
        padding-bottom: percent(311, 445);
        border-radius: rem(15);
        overflow: hidden;
        img {
            transition: transform 0.3s ease 0s;
        }
        @media (any-hover: hover) {
            &:hover {
                img {
                    transform: scale(1.05);
                }
            }
        }
        @media (max-width: $mobile) {
            padding-bottom: 50%;
            min-height: rem(250);
        }
    }

    &__button {
        position: absolute;
        width: rem(66);
        height: rem(66);
        display: inline-flex;
        justify-content: center;
        align-items: center;
        background-color: $primary_02;
        border: rem(1) solid $primary_02;
        border-radius: 50%;
        color: $white;
        top: 50%;
        left: 0;
        transform: translate(-50%, -50%);
        transition: color 0.3s ease 0s, background-color 0.3s ease 0s;
        &::before {
            transform: translate(10%, 0);
        }
        @media (any-hover: hover) {
            &:hover {
                background-color: $white;
                color: $primary_02;
            }
        }
        @media (max-width: $tablet) {
            top: 50%;
            left: 50%;
        }
    }
}

//========================================================================================================================================================

.features {
    background-color: $light_01;
    &__container {
    }

    &__title {
        @extend %text_01;
        text-align: center;
        @include adaptiveValue("margin-bottom", 70, 25, 1110, 767.98, 1);
    }

    &__content {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        @include adaptiveValue("gap", 30, 20, 1110, 850, 1);
        @media (max-width: em(850)) {
            @include adaptiveValue("gap", 50, 40, 850, 479.98, 1);
            grid-template-columns: 1fr;
        }
    }

    &__column {
    }
}

.column-features {
    display: flex;
    flex-direction: column;
    height: 100%;
    position: relative;

    &__image-ibg {
        padding-bottom: percent(250, 350);
        min-height: rem(250);
        border-radius: rem(8);
        overflow: hidden;
        position: relative;
        z-index: 1;
        @media (max-width: $mobile) {
            padding-bottom: 50%;
        }
    }

    &__body {
        position: relative;
        z-index: 2;
        background-color: $white;
        box-shadow: 0px rem(5) rem(30) rgba(0, 0, 0, 0.1);
        border-radius: 8px;
        overflow: hidden;
        margin: rem(-105) rem(30) 0px rem(30);
        padding: rem(35) rem(20) rem(25) rem(20);
        text-align: center;
        flex: 1 1 auto;
        display: flex;
        flex-direction: column;
        transition: transform 0.5s ease 0s;
        @media (any-hover: hover) {
            &:hover {
                transform: translate(0px, rem(-20));
            }
        }
        @media (max-width: $tablet) {
            margin-right: rem(10);
            margin-left: rem(10);
        }
        @media (max-width: $mobile) {
            padding: rem(15);
            margin-right: rem(20);
            margin-left: rem(20);
        }
    }

    &__title {
        font-weight: 700;
        font-size: rem(18);
        line-height: math.div(22, 18);
        color: $dark_01;
        &:not(:last-child) {
            @include adaptiveValue("margin-bottom", 20, 15, 1110, 767.98, 1);
        }
        transition: color 0.3s ease 0s;
        @media (any-hover: hover) {
            &:hover {
                color: $primary_02;
            }
        }
        @media (max-width: $mobile) {
            font-size: rem(22);
        }
    }

    &__text {
        @extend %text_02;
        line-height: 150%;
        color: $dark_01;
        flex: 1 1 auto;
        &:not(:last-child) {
            @include adaptiveValue("margin-bottom", 25, 20, 1110, 767.98, 1);
        }
    }

    &__more {
        @extend %text_02;
        font-weight: 700;
        line-height: 150%;
        color: $primary_02;
        transition: color 0.3s ease 0s;
        @media (any-hover: hover) {
            &:hover {
                color: $black;
            }
        }
    }
}
//========================================================================================================================================================

.tech {
    &__container {
    }

    &__title {
        @extend %text_01;
        @include adaptiveValue("margin-bottom", 50, 30, 1110, 767.98, 1);
        text-align: center;
    }

    &__body {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        @include adaptiveValue("gap", 30, 20, 1110, 767.98, 1);
        @media (max-width: $mobile) {
            grid-template-columns: repeat(2, 1fr);
        }
        @media (max-width: $mobileSmall) {
            grid-template-columns: 1fr;
        }
    }

    &__item {
        @media (min-width: $tablet) {
            padding: 0px rem(30);
        }
    }
}

.item-tech {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: center;
    &__icon {
        font-weight: 700;
        margin-bottom: rem(20);
        @include adaptiveValue("font-size", 100, 60);
        line-height: math.div(120, 100);
        color: rgba(16, 16, 16, 0.08);
        position: relative;
        &::before {
            position: absolute;
            @include adaptiveValue("font-size", 66, 48);
            color: $primary_02;
            bottom: 0;
            left: 50%;
            transform: translate(-50%, rem(10));
        }
    }

    &__title {
        font-weight: 700;
        font-size: rem(18);
        line-height: math.div(22, 18);
        color: $dark_01;
        margin-bottom: rem(10);
        @media (max-width: $mobile) {
            font-size: rem(22);
        }
    }

    &__text {
        flex: 1 1 auto;
        @extend %text_02;
    }
}

//========================================================================================================================================================

.focused {
    background-color: $primary_02;
    &__container {
        @media (min-width: $mobile) {
            display: flex;
            gap: rem(40);
            justify-content: space-between;
        }
    }

    &__content {
        flex: 0 1 rem(445);
        @media (max-width: $tablet) {
            flex: 0 1 calc(50% - rem(10));
        }
    }

    &__slider {
        flex: 0 1 rem(645);
        min-width: 0;
        @media (max-width: $tablet) {
            flex: 0 1 calc(50% - rem(10));
        }
    }
}

.content-focused {
    @media (min-width: $mobile) {
        @include adaptiveValue("margin-top", 30, 0, 1110, 767.98, 1);
    }

    &__title {
        @extend %text_01;
        color: $white;
        @include adaptiveValue("margin-bottom", 40, 20, 1110, 767.98, 1);
    }

    &__text {
        line-height: 140%;
        text-align: justify;
        color: $white;
        @include adaptiveValue("margin-bottom", 40, 20, 1110, 767.98, 1);
        @media (max-width: $mobile) {
            font-size: rem(18);
        }
    }

    &__apps {
        display: flex;
        align-items: center;
    }

    &__app-item {
        font-size: rem(32);
        color: $white;
        transition: color 0.3s ease 0s;
        @media (any-hover: hover) {
            &:hover {
                color: $black;
            }
        }
        &._icon-windows {
            font-size: rem(24);
        }
        &:not(:last-child) {
            @include adaptiveValue("margin-right", 25, 15, 1110, 767.98, 1);
        }
    }
}

.slider-focused {
    @media (max-width: $mobile) {
        @include adaptiveValue("margin-top", 40, 30, 1110, 767.98, 1);
    }
    @media (max-width: $mobileSmall) {
        margin-left: rem(-15);
        margin-right: rem(-15);
    }
    &__slider {
        @media (min-width: $pc) {
            padding: 0px rem(100);
        }
        .swiper-wrapper {
            align-items: center;
            @media (min-width: $pc) {
                height: rem(310);
            }
        }
    }

    &__slide-ibg {
        position: relative;
        z-index: 1;
        overflow: hidden;
        height: rem(270);
        @media (min-width: $pc) {
            transition: opacity 1s ease 0s, height 1s ease 0s;
            opacity: 0.25 !important;
        }
        @media (max-width: $pc) {
            padding-bottom: percent(310, 445);
            opacity: 1;
        }
        @media (max-width: $mobile) {
            flex: 1 1 100%;
            padding-bottom: 50%;
            min-height: rem(250);
        }
        @media (min-width: $mobileSmall) {
            border-radius: rem(15);
        }
        &.swiper-slide-active {
            z-index: 2;
            @media (min-width: $pc) {
                height: rem(310);
                opacity: 1 !important;
            }
        }
        &.swiper-slide-prev,
        &.swiper-slide-next {
            @media (min-width: $pc) {
                opacity: 0.5 !important;
            }
        }
    }
}

//========================================================================================================================================================

.contact {
    &__container {
        @media (min-width: $mobile) {
            display: flex;
            justify-content: space-between;
            gap: rem(40);
        }
    }

    &__info {
        @media (min-width: $mobile) {
            flex: 0 1 rem(445);
        }
        @media (max-width: $mobile) {
            @include adaptiveValue("margin-bottom", 50, 30, 1110, 767.98, 1);
        }
    }

    &__form {
        @media (min-width: $mobile) {
            flex: 0 1 rem(540);
        }
    }
}

.info-contact {
    &__title {
        @extend %text_01;
        &:not(:last-child) {
            @include adaptiveValue("margin-bottom", 50, 20, 1110, 767.98, 1);
        }
    }

    &__text {
        line-height: 140%;
        text-align: justify;
        &:not(:last-child) {
            @include adaptiveValue("margin-bottom", 40, 20, 1110, 767.98, 1);
        }
        @media (max-width: $mobile) {
            font-size: rem(18);
        }
    }
}

.form-contact {
    display: flex;
    flex-wrap: wrap;
    column-gap: rem(30);
    row-gap: rem(25);
    @media (max-width: $tablet) {
        gap: rem(20);
    }
    &__input {
        flex: 1 1 100%;
        &_top {
            flex: 0 1 calc(50% - rem(15));
            @media (max-width: $tablet) {
                flex: 0 1 calc(50% - rem(10));
            }
            @media (max-width: $mobileSmall) {
                flex: 1 1 100%;
            }
        }
    }
    &__select-item {
        flex: 1 1 100%;
    }

    &__select {
    }

    &__btn {
        background-color: $primary_02;
        min-height: rem(50);
        min-width: rem(160);
        border: rem(1) solid $primary_02;
        @media (any-hover: hover) {
            &:hover {
                color: $primary_02;
            }
        }
        @media (max-width: $mobileSmall) {
            width: 100%;
        }
    }
}
