@charset "UTF-8";

@import url("https://fonts.googleapis.com/css?family=Lato:regular,700&display=swap&subset=cyrillic-ext");

@font-face {
  font-family: "icons";
  font-display: swap;
  src: url("../fonts/icons.woff") format("woff"), url("../fonts/icons.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Lato";
  font-display: swap;
  src: url("../fonts/Lato-Semibold.woff") format("woff"), url("../fonts/Lato-Semibold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "icons";
  font-display: swap;
  src: url("../fonts/icons.woff") format("woff"), url("../fonts/icons.woff2#icons") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="_icon-"]:before,
[class^="_icon-"]::after,
[class*=" _icon-"]:before,
[class*=" _icon-"]::after {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="_icon-"]:before,
[class^="_icon-"]::after,
[class*=" _icon-"]:before,
[class*=" _icon-"]::after {
  display: block;
}

._icon-down:before {
  content: "\e90d";
}

._icon-arrow-down:before {
  content: "\e90c";
}

._icon-cloud:before {
  content: "\e900";
}

._icon-facebook:before {
  content: "\e901";
}

._icon-twitter:before {
  content: "\e902";
}

._icon-download:before {
  content: "\e903";
}

._icon-search:before {
  content: "\e904";
}

._icon-linked:before {
  content: "\e905";
}

._icon-apple:before {
  content: "\e906";
}

._icon-playmarket:before {
  content: "\e907";
}

._icon-csv:before {
  content: "\e908";
}

._icon-pdf:before {
  content: "\e909";
}

._icon-video:before {
  content: "\e90a";
}

._icon-windows:before {
  content: "\e90b";
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  line-height: 1;
  font-family: "Lato";
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: "Lato";
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
  background-color: transparent;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  color: #000;
  font-size: 14px;
  background-color: #fff;
}

body._lock {
  overflow: hidden;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.wrapper._scroll .header__body {
  min-height: 60px;
}

.wrapper._scroll .header__wrapper {
  background-color: rgba(213, 32, 71, 0.9);
  -webkit-box-shadow: 0 0 15px rgba(213, 32, 71, 0.9);
          box-shadow: 0 0 15px rgba(213, 32, 71, 0.9);
}

._container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0px 15px;
}

.btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  font-size: 14px;
  line-height: 121.42857%;
  text-transform: uppercase;
  padding: 5px 10px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  color: #fff;
  border-radius: 6px;
  border: 1px solid #ffffff;
  background-color: transparent;
}

.btn._fw {
  width: 100%;
}

.select {
  position: relative;
}

.select__item {
  position: relative;
}

.select__title {
  color: rgba(19, 39, 67, 0.5);
  border: 1px solid #333333;
  background-color: #fff;
  cursor: pointer;
  font-size: 16px;
  line-height: 118.75%;
  border-radius: 6px;
}

.select__value {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 16px;
  line-height: 118.75%;
  min-height: 60px;
  padding: 0px 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.select__value span {
  height: 1em;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.select__value:before {
  content: "";
  display: inline-block;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  width: 14px;
  height: 14px;
  background: url("../img/icons/down.svg") 50% 50% no-repeat;
}

.select__input {
  width: 100%;
  background-color: transparent;
  height: 100%;
}

.select__options {
  color: rgba(19, 39, 67, 0.5);
  display: none;
  position: absolute;
  top: 90%;
  border-radius: 0 0 4px 4px;
  min-width: 100%;
  left: 0;
  background-color: #fff;
  border-top: 0;
  border: 1px solid #333333;
  border-top: 0;
  font-size: 16px;
  line-height: 118.75%;
}

.select__option {
  cursor: pointer;
  padding: 10px 30px;
}

.select._active {
  z-index: 5;
}

.select._active .select__value:before {
  -webkit-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.select._active .select__options {
  display: block;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.input {
  border: 1px solid #333333;
  border-radius: 6px;
  width: 100%;
  display: block;
  padding: 0px 30px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  font-size: 16px;
  line-height: 118.75%;
  color: rgba(19, 39, 67, 0.5);
  min-height: 60px;
}

.input._focus {
  color: #132743;
  border: 1px solid #000;
}

.input._error {
  border: 1px solid #ed4c5c;
}

textarea.input {
  resize: none;
  padding: 0px 0px;
}

.checkbox {
  position: relative;
}

.checkbox__input {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
  visibility: hidden;
}

.checkbox__input:checked + .checkbox__text:before {
  background: #fff url("../img/icons/check.svg") center no-repeat;
}

.checkbox__text {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  font-size: 16px;
  color: #ffffff;
  letter-spacing: -0.3px;
  line-height: calc(20 / 16);
  cursor: pointer;
}

.checkbox__text:before {
  content: "";
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin: 0px 14px 0px 0px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20px;
          flex: 0 0 20px;
  left: 0;
  top: 0;
  width: 20px;
  height: 18px;
  background: #fff;
  border: 1px solid #a7a9ac;
}

.checkbox a {
  color: #fff;
  text-decoration: underline;
}

.checkbox._error .checkbox__text:before {
  border: 1px solid #ee1212;
}

.options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.options__item {
  position: relative;
  cursor: pointer;
}

.options__input {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
  left: 0;
  top: 0;
  visibility: hidden;
}

.options__input:checked + .options__text:after {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.options__text {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  font-size: 16px;
  color: #ffffff;
  letter-spacing: -0.3px;
  line-height: calc(20 / 16);
}

.options__text:before {
  content: "";
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin: 0px 14px 0px 0px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20px;
          flex: 0 0 20px;
  left: 0;
  top: 0;
  border-radius: 50%;
  width: 20px;
  height: 18px;
  background: #fff;
  border: 1px solid #a7a9ac;
}

.options__text:after {
  content: "";
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #77243a;
  position: absolute;
  left: 5px;
  top: 4px;
}

.rating-block {
  display: table;
  font-size: 0;
}

.rating {
  display: inline-block;
  position: relative;
  vertical-align: middle;
}

.rating.edit .star {
  cursor: pointer;
}

.rating .star {
  width: 17px;
  height: 14px;
  display: inline-block;
  position: relative;
  z-index: 3;
}

.rating__line {
  position: absolute;
  width: 85px;
  height: 14px;
  top: 0;
  left: 0;
  background: url("../img/icons/bg_rating.svg") 0 0 no-repeat;
  z-index: 1;
  background-size: 85px 100%;
}

.rating__activeline {
  position: absolute;
  width: 0px;
  height: 14px;
  top: 0;
  left: 0;
  background: url("../img/icons/bg_rating_active.svg") 0 0 no-repeat;
  z-index: 2;
  background-size: 85px 100%;
}

.rating__value {
  display: inline-block;
  color: #1b3139;
  font-size: 14px;
  line-height: 13px;
  vertical-align: middle;
}

.quantity {
  width: 88px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid rgba(166, 166, 166, 0.45);
}

.quantity__button {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 30px;
          flex: 0 0 30px;
  position: relative;
  cursor: pointer;
}

.quantity__button::before,
.quantity__button::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  margin: 0px 0px 0px -4.5px;
  background-color: #a6a6a6;
  width: 9px;
  height: 1px;
}

.quantity__button_plus::before {
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.quantity__input {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.quantity__input input {
  height: 100%;
  color: #a6a6a6;
  font-size: 12px;
  width: 100%;
  text-align: center;
}

.row:after {
  display: block;
  content: "";
  clear: both;
}

.rub:after {
  content: "₽";
}

ol.counter {
  list-style-type: none;
  counter-reset: item;
}

ol.counter li {
  position: relative;
  padding: 0px 0px 0px 45px;
}

ol.counter li:before {
  counter-increment: item;
  content: counter(item);
  position: absolute;
  left: 0;
  top: 0;
  color: #818181;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  line-height: 26px;
  border-radius: 50%;
  width: 28px;
  height: 28px;
  border: 1px solid #4274bb;
}

.ellipsis {
  display: block;
  overflow: hidden;
  width: 100%;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
}

.es {
  overflow: hidden;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
}

.table {
  display: table;
  font-size: 0;
  width: 100%;
}

.trow {
  display: table-row;
}

.cell {
  display: table-cell;
}

.cell.full {
  width: 100%;
}

._ibg {
  position: relative;
}

._ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

body.ie ._ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

body.ie ._ibg img {
  width: 0;
  height: 0;
  opacity: 0;
  visibility: hidden;
}

._video {
  position: relative;
  overflow: hidden;
  height: 0;
}

._video video,
._video iframe,
._video object,
._video embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.videobg video,
.videobg iframe,
.videobg object,
.videobg embed {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  -webkit-transform: translateX(-50%) translateY(-50%);
      -ms-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  background-size: cover;
}

._more-content {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  overflow: hidden;
}

._more-link {
  cursor: pointer;
}

._more-link span {
  font-style: normal;
}

._more-link span:first-child {
  display: block;
}

._more-link span:last-child {
  display: none;
}

._more-link._active span {
  font-style: normal;
}

._more-link._active span:first-child {
  display: none;
}

._more-link._active span:last-child {
  display: block;
}

#map {
  background: url("../img/icons/loading.gif") center/50px no-repeat;
}

._swiper {
  overflow: hidden;
}

._swiper .swiper-wrapper {
  width: 100%;
  height: 100%;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

._swiper.swiper-container-vertical .swiper-wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

._swiper.swiper-container-autoheight .swiper-wrapper {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.swiper-container-initialized .swiper-slide {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.swiper-container-android .swiper-slide,
.swiper-container-android .swiper-wrapper {
  -webkit-transform: translate3d(0px, 0, 0);
          transform: translate3d(0px, 0, 0);
}

.swiper-button-lock {
  display: none !important;
}

._tabs-block {
  display: none;
}

._tabs-block._active {
  display: block;
}

.mirror {
  -webkit-transform: scale(-1, 1);
      -ms-transform: scale(-1, 1);
          transform: scale(-1, 1);
}

.nicescroll-rails {
  z-index: 1000 !important;
}

._custom-scroll {
  position: fixed;
  right: 0;
  top: 0;
  width: 3px;
  height: 100%;
  z-index: 1000;
}

._custom-scroll__line {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 3px 0 0 3px;
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
}

.popup {
  -webkit-overflow-scrolling: touch;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 100;
  padding: 30px 10px;
  width: 100%;
  height: 100%;
  visibility: hidden;
  -webkit-transition: visibility 0.8s ease 0s;
  -o-transition: visibility 0.8s ease 0s;
  transition: visibility 0.8s ease 0s;
}

.popup::before {
  content: "";
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  -webkit-transition: opacity 0.8s ease 0s;
  -o-transition: opacity 0.8s ease 0s;
  transition: opacity 0.8s ease 0s;
}

.popup.show {
  visibility: visible;
  overflow: auto;
}

.popup.show::before {
  opacity: 1;
}

.popup.show .popup__body {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.popup._active {
  visibility: visible;
  overflow: auto;
}

.popup._active::before {
  opacity: 1;
}

.popup._active .popup__body {
  -webkit-transition: all 0.3s ease 0.2s;
  -o-transition: all 0.3s ease 0.2s;
  transition: all 0.3s ease 0.2s;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.popup__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  width: 100%;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  align-items: center;
}

.popup__body {
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  background-color: #515151;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 50px;
  padding-right: 50px;
  width: 100%;
  max-width: 800px;
}

.popup__close {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  z-index: 30;
  background: url("../img/icons/close.svg") 0 0 no-repeat;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}

.header__wrapper {
  -webkit-transition: background-color 0.8s ease 0s;
  -o-transition: background-color 0.8s ease 0s;
  transition: background-color 0.8s ease 0s;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color: transparent;
  -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0);
          box-shadow: 0 0 15px rgba(0, 0, 0, 0);
  z-index: 100;
}

.header__body {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  padding: 10px 0px;
  min-height: 140px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

.header__logo {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 216px;
          flex: 0 1 216px;
  position: relative;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  font-weight: 700;
  font-size: 18px;
  line-height: 122.22222%;
  text-transform: uppercase;
}

.header__logo::before {
  font-size: 29px;
  margin: 0px 7px 0px 0px;
}

.menu__list li {
  margin: 0px 10px;
}

.menu__link {
  font-size: 14px;
  line-height: 121.42857%;
  text-transform: uppercase;
  color: #fff;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.menu__link._active {
  font-weight: 700;
}

.icon-menu {
  display: none;
}

.more-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  z-index: 10;
}

.more-header__language {
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px 20px 0px 0px;
}

.more-header__language._hover .more-header__body {
  -webkit-transform: translate(0px, 0px);
      -ms-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
  opacity: 1;
  visibility: visible;
}

.more-header__language._hover .more-header__icon {
  -webkit-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.more-header__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.more-header__flag {
  width: 32px;
  height: 32px;
  margin: 0px 10px 0px 0px;
  overflow: hidden;
  border-radius: 50%;
}

.more-header__flag img {
  max-width: 100%;
}

.more-header__letters {
  font-size: 14px;
  line-height: 121.42857%;
  text-transform: uppercase;
  color: #ffffff;
  margin-right: 2px;
}

.more-header__icon {
  padding: 10px;
  font-size: 8px;
  color: #fff;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.more-header__body {
  width: calc(100% + 10px);
  padding: 10px;
  margin: 0px -10px;
  background-color: #fff;
  position: absolute;
  top: 120%;
  left: 0;
  border-radius: 6px;
  -webkit-transform: translate(0px, 10%);
      -ms-transform: translate(0px, 10%);
          transform: translate(0px, 10%);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.more-header__body .more-header__letters {
  color: #d52047;
}

.more-header__body .more-header__item:not(:last-child) {
  margin: 0px 0px 10px 0px;
}

.more-header__login {
  min-width: 100px;
  min-height: 40px;
}

.footer {
  padding-top: 85px;
  background: #fafafa;
  padding-bottom: 85px;
}

.footer__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px -15px;
  margin-bottom: 100px;
}

.footer__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 25%;
          flex: 0 1 25%;
  padding: 0px 15px;
  margin-bottom: 50px;
}

.footer__label {
  font-weight: 700;
  font-size: 18px;
  line-height: 122.22222%;
  color: #101010;
  margin-bottom: 35px;
}

.footer__address {
  font-size: 12px;
  line-height: 150%;
  color: #101010;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.footer__list li:not(:last-child) {
  margin: 0px 0px 5px 0px;
}

.footer__link {
  text-transform: capitalize;
  font-size: 12px;
  line-height: 160%;
  color: #101010;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.footer__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 12px;
  line-height: 150%;
  color: #101010;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  margin: 0px 0px 10px 0px;
}

.footer__social {
  margin: 20px 0px 0px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__social-item {
  color: #101010;
  font-size: 14px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.footer__social-item:not(:last-child) {
  margin-right: 12px;
}

.footer__image img {
  max-width: 100%;
}

.footer__copy {
  display: block;
  font-size: 12px;
  line-height: 116.66667%;
  color: #101010;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.page {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.page__about {
  margin-top: 100px;
  margin-bottom: 100px;
}

.page__features {
  padding-top: 60px;
  padding-bottom: 125px;
}

.page__tech {
  padding-top: 60px;
  padding-bottom: 100px;
}

.page__focused {
  padding-top: 100px;
  padding-bottom: 100px;
}

.page__contact {
  padding-top: 120px;
  padding-bottom: 120px;
}

.main {
  min-height: 100vh;
  position: relative;
}

.main__content {
  position: relative;
  padding-top: 30vh;
  padding-bottom: 40px;
  z-index: 2;
}

.main__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.main__title {
  font-weight: 700;
  font-size: 72px;
  line-height: 119.44444%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 40px;
}

.main__text {
  max-width: 540px;
  font-weight: 600;
  font-size: 24px;
  line-height: 150%;
  color: #ffffff;
  margin-bottom: 50px;
}

.main__btn {
  min-width: 160px;
  min-height: 50px;
  color: #d52047;
  font-weight: 600;
  background-color: #fff;
}

.main__image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  min-height: 100vh;
}

.main__image::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: -webkit-gradient(linear, left top, right top, from(rgba(213, 32, 71, 0.8)), to(rgba(238, 61, 27, 0.8)));
  background: -o-linear-gradient(left, rgba(213, 32, 71, 0.8) 0%, rgba(238, 61, 27, 0.8) 100%);
  background: linear-gradient(90deg, rgba(213, 32, 71, 0.8) 0%, rgba(238, 61, 27, 0.8) 100%);
}

.about__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px -10px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.about__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 465px;
          flex: 0 1 465px;
  padding: 0px 10px;
}

.column-about {
  margin-top: 45px;
}

.column-about__title {
  font-weight: 600;
  font-size: 36px;
  line-height: 119.44444%;
  color: #000;
}

.column-about__title:not(:last-child) {
  margin-bottom: 45px;
}

.column-about__text {
  font-size: 14px;
  line-height: 140%;
  text-align: justify;
  color: #000;
}

.column-about__text:not(:last-child) {
  margin-bottom: 20px;
}

.column-about__more {
  font-size: 14px;
  line-height: 140%;
  text-align: justify;
  color: #d52047;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.about-video__body {
  display: block;
  position: relative;
}

.about-video__image {
  padding: 0px 0px 69.88764% 0px;
  border-radius: 15px;
  overflow: hidden;
}

.about-video__image img {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.about-video__button {
  position: absolute;
  width: 66px;
  height: 66px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #ed4c5c;
  border: 1px solid #ed4c5c;
  border-radius: 50%;
  color: #fff;
  top: 50%;
  left: 0;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.about-video__button::before {
  -webkit-transform: translate(10%, 0);
      -ms-transform: translate(10%, 0);
          transform: translate(10%, 0);
}

.popup__popup-video {
  height: 500px;
}

.features {
  background: #fafafa;
}

.features__title {
  font-weight: 600;
  text-align: center;
  font-size: 36px;
  line-height: 119.44444%;
  color: #000;
  margin-bottom: 70px;
}

.features__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px -15px;
}

.column-features {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
  padding: 0px 15px;
}

.column-features__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  position: relative;
}

.column-features__image {
  padding: 0px 0px 71.42857% 0px;
  min-height: 250px;
  border-radius: 8px;
  overflow: hidden;
  position: relative;
  z-index: 1;
}

.column-features__body {
  position: relative;
  z-index: 2;
  background-color: #fff;
  -webkit-box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
  margin: -105px 30px 0px 30px;
  padding: 35px 20px 25px 20px;
  text-align: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.column-features__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 122.22222%;
  color: #101010;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.column-features__title:not(:last-child) {
  margin-bottom: 20px;
}

.column-features__text {
  font-size: 12px;
  line-height: 150%;
  color: #101010;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.column-features__text:not(:last-child) {
  margin-bottom: 25px;
}

.column-features__more {
  font-weight: 700;
  font-size: 12px;
  line-height: 150%;
  color: #ed4c5c;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.tech__title {
  font-weight: 600;
  text-align: center;
  font-size: 36px;
  line-height: 119.44444%;
  color: #000;
  margin-bottom: 50px;
}

.tech__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px -15px;
}

.tech__column {
  padding: 0px 15px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 25%;
          flex: 0 1 25%;
  margin: 0px 0px 30px 0px;
}

.tech__item {
  padding: 0px 30px;
}

.item-tech {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  text-align: center;
  height: 100%;
}

.item-tech__icon {
  margin: 0px 0px 30px 0px;
  font-weight: 700;
  font-size: 100px;
  line-height: 120%;
  color: rgba(16, 16, 16, 0.08);
  position: relative;
}

.item-tech__icon::before {
  position: absolute;
  bottom: 0;
  font-size: 66px;
  color: #ed4c5c;
  left: 50%;
  -webkit-transform: translate(-50%, 10px);
      -ms-transform: translate(-50%, 10px);
          transform: translate(-50%, 10px);
}

.item-tech__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 122.22222%;
  color: #101010;
  margin: 0px 0px 10px 0px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.item-tech__text {
  font-size: 12px;
  line-height: 116.66667%;
  color: #000;
}

.focused {
  background-color: #ed4c5c;
}

.focused__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.focused__content {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 445px;
          flex: 0 1 445px;
}

.focused__slider {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 645px;
          flex: 0 0 645px;
  min-width: 0;
}

.content-focused__body {
  margin-top: 30px;
}

.content-focused__title {
  font-weight: 600;
  font-size: 36px;
  line-height: 119.44444%;
  color: #fff;
  margin-bottom: 40px;
}

.content-focused__text {
  font-size: 14px;
  line-height: 140%;
  text-align: justify;
  color: #fff;
  margin-bottom: 40px;
}

.content-focused__apps {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content-focused__app-item {
  font-size: 32px;
  color: #fff;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.content-focused__app-item._icon-windows {
  font-size: 24px;
}

.content-focused__app-item:not(:last-child) {
  margin-right: 25px;
}

.slider-focused__slider {
  padding-right: 100px;
  padding-left: 100px;
}

.slider-focused .swiper-wrapper {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slider-focused__slide {
  position: relative;
  z-index: 1;
  opacity: 0;
}

.slider-focused__slide.swiper-slide-active {
  z-index: 2;
  opacity: 1 !important;
}

.slider-focused__slide.swiper-slide-active .slider-focused__image {
  padding: 0px 0px 69.66292% 0px;
}

.slider-focused__slide.swiper-slide-prev,
.slider-focused__slide.swiper-slide-next {
  opacity: 0.5 !important;
}

.slider-focused__image {
  border-radius: 15px;
  overflow: hidden;
  height: 270px;
}

.contact__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0px -15px;
}

.contact__info {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 465px;
          flex: 0 1 465px;
  padding: 0px 15px;
}

.contact__form {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 560px;
          flex: 0 1 560px;
  padding: 0px 15px;
}

.info-contact__title {
  font-weight: 600;
  font-size: 36px;
  line-height: 119.44444%;
  color: #000;
}

.info-contact__title:not(:last-child) {
  margin-bottom: 50px;
}

.info-contact__text {
  font-size: 14px;
  line-height: 140%;
  text-align: justify;
  color: #000;
}

.info-contact__text:not(:last-child) {
  margin-bottom: 40px;
}

.form-contact__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px -15px;
}

.form-contact__top {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  padding: 0px 15px;
}

.form-contact__input {
  margin-bottom: 25px;
}

.form-contact__select-item {
  margin-bottom: 25px;
}

.form-contact__btn {
  background-color: #ed4c5c;
  min-height: 50px;
  min-width: 160px;
  border: 1px solid #ed4c5c;
}

@media (min-width: 767.98px) {
  .menu__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (min-width: 991.98px) {
  .quantity__button:hover::before,
  .quantity__button:hover::after {
    background-color: rgba(0, 0, 0, 0.5);
  }

  .popup__close:hover {
    opacity: 0.6;
  }
}

@media screen and (min-width: 991.98px) and (max-height: 400px) and (orientation: landscape) {
  .main__content {
    padding-top: 140px;
  }
}

@media (min-width: 992px) {
  .checkbox a:hover {
    text-decoration: none;
  }
}

@media (max-width: 1152px) {
  .footer__address {
    font-size: 14px;
  }

  .footer__link {
    font-size: 14px;
  }

  .footer__item {
    font-size: 14px;
  }
}

@media (max-width: 1140px) {
  .popup__body {
    padding-top: calc(40px + 10 * ((100vw - 320px) / 820));
  }

  .popup__body {
    padding-bottom: calc(40px + 10 * ((100vw - 320px) / 820));
  }

  .popup__body {
    padding-left: calc(20px + 30 * ((100vw - 320px) / 820));
  }

  .popup__body {
    padding-right: calc(20px + 30 * ((100vw - 320px) / 820));
  }

  .header__body {
    min-height: calc(60px + 80 * ((100vw - 320px) / 820));
  }

  .footer {
    padding-top: calc(40px + 45 * ((100vw - 320px) / 820));
  }

  .footer {
    padding-bottom: calc(40px + 45 * ((100vw - 320px) / 820));
  }

  .footer__wrapper {
    margin-bottom: calc(20px + 80 * ((100vw - 320px) / 820));
  }

  .footer__column {
    margin-bottom: calc(40px + 10 * ((100vw - 320px) / 820));
  }

  .footer__label {
    margin-bottom: calc(15px + 20 * ((100vw - 320px) / 820));
  }

  .footer__social-item:not(:last-child) {
    margin-right: calc(20px + -8 * ((100vw - 320px) / 820));
  }

  .page__about {
    margin-top: calc(40px + 60 * ((100vw - 320px) / 820));
  }

  .page__about {
    margin-bottom: calc(40px + 60 * ((100vw - 320px) / 820));
  }

  .page__features {
    padding-top: calc(40px + 20 * ((100vw - 320px) / 820));
  }

  .page__features {
    padding-bottom: calc(25px + 100 * ((100vw - 320px) / 820));
  }

  .page__tech {
    padding-top: calc(40px + 20 * ((100vw - 320px) / 820));
  }

  .page__tech {
    padding-bottom: calc(40px + 60 * ((100vw - 320px) / 820));
  }

  .page__focused {
    padding-top: calc(40px + 60 * ((100vw - 320px) / 820));
  }

  .page__focused {
    padding-bottom: calc(40px + 60 * ((100vw - 320px) / 820));
  }

  .page__contact {
    padding-top: calc(40px + 80 * ((100vw - 320px) / 820));
  }

  .page__contact {
    padding-bottom: calc(40px + 80 * ((100vw - 320px) / 820));
  }

  .main__content {
    padding-bottom: calc(20px + 20 * ((100vw - 320px) / 820));
  }

  .main__title {
    font-size: calc(36px + 36 * ((100vw - 320px) / 820));
  }

  .main__title {
    margin-bottom: calc(20px + 20 * ((100vw - 320px) / 820));
  }

  .main__text {
    font-size: calc(20px + 4 * ((100vw - 320px) / 820));
  }

  .main__text {
    margin-bottom: calc(30px + 20 * ((100vw - 320px) / 820));
  }

  .column-about {
    margin-top: calc(0px + 45 * ((100vw - 320px) / 820));
  }

  .column-about__title {
    font-size: calc(28px + 8 * ((100vw - 320px) / 820));
  }

  .column-about__title:not(:last-child) {
    margin-bottom: calc(20px + 25 * ((100vw - 320px) / 820));
  }

  .column-about__text:not(:last-child) {
    margin-bottom: calc(15px + 5 * ((100vw - 320px) / 820));
  }

  .popup__popup-video {
    height: calc(250px + 250 * ((100vw - 320px) / 820));
  }

  .features__title {
    font-size: calc(28px + 8 * ((100vw - 320px) / 820));
  }

  .features__title {
    margin-bottom: calc(25px + 45 * ((100vw - 320px) / 820));
  }

  .column-features__title:not(:last-child) {
    margin-bottom: calc(15px + 5 * ((100vw - 320px) / 820));
  }

  .column-features__text:not(:last-child) {
    margin-bottom: calc(20px + 5 * ((100vw - 320px) / 820));
  }

  .tech__title {
    font-size: calc(28px + 8 * ((100vw - 320px) / 820));
  }

  .tech__title {
    margin-bottom: calc(30px + 20 * ((100vw - 320px) / 820));
  }

  .content-focused__body {
    margin-top: calc(0px + 30 * ((100vw - 320px) / 820));
  }

  .content-focused__title {
    font-size: calc(28px + 8 * ((100vw - 320px) / 820));
  }

  .content-focused__title {
    margin-bottom: calc(20px + 20 * ((100vw - 320px) / 820));
  }

  .content-focused__text {
    margin-bottom: calc(20px + 20 * ((100vw - 320px) / 820));
  }

  .content-focused__app-item:not(:last-child) {
    margin-right: calc(15px + 10 * ((100vw - 320px) / 820));
  }

  .slider-focused__slider {
    padding-right: calc(50px + 50 * ((100vw - 320px) / 820));
  }

  .slider-focused__slider {
    padding-left: calc(50px + 50 * ((100vw - 320px) / 820));
  }

  .info-contact__title {
    font-size: calc(28px + 8 * ((100vw - 320px) / 820));
  }

  .info-contact__title:not(:last-child) {
    margin-bottom: calc(20px + 30 * ((100vw - 320px) / 820));
  }

  .info-contact__text:not(:last-child) {
    margin-bottom: calc(20px + 20 * ((100vw - 320px) / 820));
  }

  .form-contact__input {
    margin-bottom: calc(20px + 5 * ((100vw - 320px) / 820));
  }

  .form-contact__select-item {
    margin-bottom: calc(20px + 5 * ((100vw - 320px) / 820));
  }
}

@media (max-width: 991.98px) {
  .header__body {
    min-height: 100px;
  }

  .header__logo {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .menu__body {
    position: fixed;
    width: 100%;
    height: 100%;
    overflow: auto;
    top: -100%;
    left: 0;
    background-color: #ee3d1b;
    -webkit-transition: top 0.8s ease 0s;
    -o-transition: top 0.8s ease 0s;
    transition: top 0.8s ease 0s;
    padding: 120px 15px 30px 15px;
  }

  .menu__body::before {
    content: "";
    position: fixed;
    width: 100%;
    top: 0;
    height: 100px;
    left: -100%;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    background-color: #ee3d1b;
    z-index: 2;
  }

  .menu__body._active {
    top: 0;
  }

  .menu__body._active::before {
    left: 0;
  }

  .menu__list li {
    margin: 0px 20px 0px 0px;
  }

  .menu__link {
    font-size: 18px;
  }

  .icon-menu {
    display: block;
    position: relative;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100px;
            flex: 0 0 100px;
    top: 0px;
    left: 0px;
    width: 30px;
    height: 18px;
    cursor: pointer;
    z-index: 5;
  }

  .icon-menu span {
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    top: calc(50% - 1px);
    left: 0px;
    position: absolute;
    width: 30px;
    height: 2px;
    background-color: #fff;
  }

  .icon-menu span:first-child {
    top: 0px;
  }

  .icon-menu span:last-child {
    top: auto;
    bottom: 0px;
  }

  .icon-menu._active span {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
  }

  .icon-menu._active span:first-child {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    top: calc(50% - 1px);
  }

  .icon-menu._active span:last-child {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    bottom: calc(50% - 1px);
  }

  .more-header__language {
    margin: 0;
  }

  .more-header__icon {
    font-size: 12px;
    padding: 20px;
  }

  .footer__label {
    font-size: 24px;
  }

  .footer__address {
    font-size: 18px;
  }

  .footer__link {
    font-size: 18px;
  }

  .footer__item {
    font-size: 18px;
  }

  .footer__social-item {
    font-size: 18px;
  }

  .footer__copy {
    font-size: 14px;
  }

  .about-video__button {
    top: 50%;
    left: 50%;
  }

  .features__content {
    margin: 0px -10px;
  }

  .column-features {
    padding: 0px 10px;
  }

  .column-features__body {
    margin: -105px 10px 0px 10px;
  }

  .column-features__text {
    font-size: 14px;
  }

  .column-features__more {
    font-size: 14px;
  }

  .tech__body {
    margin: 0px -10px;
  }

  .tech__column {
    padding: 0px 10px;
  }

  .tech__item {
    padding: 0px 20px;
  }

  .item-tech__text {
    font-size: 14px;
  }

  .focused__body {
    margin: 0px -10px;
  }

  .focused__content {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
    padding: 0px 10px;
  }

  .focused__slider {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
    padding: 0px 10px;
  }

  .slider-focused__slider {
    padding: 0;
  }

  .slider-focused__slide {
    opacity: 1;
  }

  .slider-focused__slide.swiper-slide-prev,
  .slider-focused__slide.swiper-slide-next {
    opacity: 0 !important;
  }

  .slider-focused__image {
    padding: 0px 0px 69.66292% 0px;
  }

  .form-contact__row {
    margin: 0px -10px;
  }

  .form-contact__top {
    padding: 0px 10px;
  }
}

@media (max-width: 991.98px) and (max-width: 767.98px) {
  .menu__body {
    padding: 90px 15px 90px 15px;
  }

  .menu__body::before {
    height: 60px;
  }
}

@media (max-width: 991.98px) and (any-hover: hover) {
  .column-features__body:hover {
    margin: -115px 10px 10px 10px;
  }
}

@media (max-width: 767.98px) {
  .btn {
    font-size: 18px;
  }

  .select__title {
    font-size: 18px;
  }

  .select__value {
    font-size: 18px;
    padding: 0px 20px;
  }

  .select__options {
    font-size: 18px;
  }

  .select__option {
    padding: 10px 20px;
  }

  .input {
    font-size: 18px;
    padding: 0px 20px;
  }

  .header__body {
    min-height: 60px;
  }

  .menu__list li {
    margin: 0px 0px 20px 0px;
  }

  .menu__link {
    font-size: 24px;
  }

  .more-header__flag {
    width: 40px;
    height: 40px;
  }

  .more-header__letters {
    font-size: 18px;
  }

  .footer__wrapper {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .footer__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
  }

  .footer__label {
    font-size: 28px;
  }

  .footer__address {
    font-size: 24px;
  }

  .footer__link {
    font-size: 22px;
  }

  .footer__item {
    font-size: 22px;
  }

  .footer__social-item {
    font-size: 22px;
  }

  .footer__copy {
    font-size: 18px;
  }

  .page__about {
    margin-top: 60px;
    margin-bottom: 60px;
  }

  .about__row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .about__column {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }

  .column-about {
    margin-bottom: 50px;
  }

  .column-about__text {
    font-size: 18px;
  }

  .column-about__more {
    font-size: 18px;
  }

  .about-video__image {
    padding: 0px 0px 50% 0px;
    min-height: 250px;
  }

  .features__content {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 0px;
  }

  .column-features {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    padding: 0px;
    margin: 0px 0px 30px 0px;
  }

  .column-features__image {
    padding: 0px 0px 50% 0px;
  }

  .column-features__body {
    padding: 15px;
    margin: -105px 20px 0px 20px;
  }

  .column-features__title {
    font-size: 24px;
  }

  .column-features__text {
    font-size: 18px;
  }

  .column-features__more {
    font-size: 18px;
  }

  .tech__body {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .tech__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
  }

  .item-tech__icon {
    font-size: 60px;
    margin: 0px 0px 20px 0px;
  }

  .item-tech__icon::before {
    font-size: 48px;
  }

  .item-tech__title {
    font-size: 24px;
  }

  .item-tech__text {
    font-size: 18px;
  }

  .focused__body {
    display: block;
  }

  .focused__content {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }

  .focused__slider {
    padding: 0;
  }

  .content-focused__body {
    margin-top: 0;
  }

  .content-focused__text {
    font-size: 18px;
  }

  .slider-focused {
    margin-bottom: 30px;
  }

  .slider-focused__slide {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }

  .slider-focused__slide.swiper-slide-active .slider-focused__image {
    padding: 0px 0px 50% 0px;
    min-height: 250px;
  }

  .slider-focused__slide.swiper-slide-prev,
  .slider-focused__slide.swiper-slide-next {
    opacity: 1 !important;
  }

  .slider-focused__image {
    padding: 0px 0px 50% 0px;
    min-height: 250px;
  }

  .contact__body {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 0;
  }

  .contact__info {
    padding: 0;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    margin-bottom: 50px;
  }

  .contact__form {
    padding: 0;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }

  .info-contact__text {
    font-size: 18px;
  }
}

@media (max-width: 767.98px) and (max-width: 1140px) {
  .page__about {
    margin-top: calc(40px + 20 * ((100vw - 320px) / 820));
  }

  .page__about {
    margin-bottom: calc(40px + 20 * ((100vw - 320px) / 820));
  }

  .column-about {
    margin-bottom: calc(30px + 20 * ((100vw - 320px) / 820));
  }

  .slider-focused {
    margin-bottom: calc(20px + 10 * ((100vw - 320px) / 820));
  }

  .contact__info {
    margin-bottom: calc(30px + 20 * ((100vw - 320px) / 820));
  }
}

@media (max-width: 479.98px) {
  .header__logo {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }

  .more-header__login {
    margin: 0px 0px 30px 0px;
  }

  .footer__wrapper {
    margin-right: 0;
    margin-left: 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }

  .footer__column {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    padding: 0px;
  }

  .footer__item {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .footer__social {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .footer__copy {
    text-align: center;
  }

  .features__content {
    margin: 0px -20px;
  }

  .tech__body {
    margin: 0;
  }

  .tech__column {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    padding: 0;
  }

  .tech__item {
    padding: 0;
  }

  .slider-focused {
    margin-left: -15px;
    margin-right: -15px;
  }

  .slider-focused__image {
    border-radius: 0;
  }

  .form-contact__row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 0px;
  }

  .form-contact__top {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    padding: 0;
  }

  .form-contact__btn {
    width: 100%;
  }
}

@media (any-hover: hover) {
  .btn:hover {
    color: #d52047;
    background-color: #fff;
  }

  .select__option:hover {
    background: #d9d9d9;
    color: #132743;
  }

  .menu__link:hover {
    color: #000;
  }

  .footer__address:hover {
    color: #ed4c5c;
  }

  .footer__link:hover {
    color: #ed4c5c;
  }

  .footer__item:hover {
    color: #ed4c5c;
  }

  .footer__social-item:hover {
    color: #ed4c5c;
  }

  .footer__copy:hover {
    color: #ed4c5c;
  }

  .main__btn:hover {
    color: #fff;
    background-color: transparent;
  }

  .column-about__more:hover {
    color: #000;
  }

  .about-video__image:hover img {
    -webkit-transform: scale(1.05);
        -ms-transform: scale(1.05);
            transform: scale(1.05);
  }

  .about-video__button:hover {
    background-color: #fff;
    color: #ed4c5c;
  }

  .column-features__body:hover {
    margin: -115px 30px 10px 30px;
  }

  .column-features__title:hover {
    color: #ed4c5c;
  }

  .column-features__more:hover {
    color: #000;
  }

  .content-focused__app-item:hover {
    color: #000;
  }

  .form-contact__btn:hover {
    color: #ed4c5c;
  }
}